fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pymysql==1.1.1
cryptography==43.0.1
redis==5.0.8
watchdog==5.0.2
psutil==6.0.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
reportlab==4.2.2
python-magic==0.4.27
pydantic==2.9.2
pydantic-settings==2.5.2
websockets==13.1
requests==2.32.3
yara-python==4.5.1
pefile==2023.2.7
